@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.slate.300') transparent;
    }

    .dark .custom-scrollbar {
        scrollbar-color: theme('colors.slate.700') transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: theme('colors.slate.300');
        border-radius: 20px;
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: theme('colors.slate.700');
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.slate.400');
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.slate.600');
    }
}